/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for the pipeline
-----------------------------------------------
*/

process.cache         = "lenient"
process.errorStrategy = "finish"

params {
    ANACONDA3       = "/home/mbruna/anaconda3"
    outdir          = "/data1/projects/LGMB-018/"
    metadados       = ""
    fastqc_exec     = "/data1/biotools/FastQC/fastqc"
    star_exec       = "/home/mbruna/STAR-2.7.11b/bin/Linux_x86_64_static/STAR"
    index_path      = "/data1/projects/LGMB-018/reference_cell_ranger/star_index"
    gtf_path        = "/data1/projects/LGMB-018/reference_cell_ranger/refdata-gex-GRCh38-2024-A/genes/genes.gtf"
    white_list_path = "/home/mbruna/PipescRNA-seq/assets/10x_V2_barcode_whitelist.txt"
}

conda {
    enabled  = true
    cacheDir = "$params.ANACONDA3"
    channels = ['conda-forge', 'bioconda', 'defaults']
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
    overwrite = true
}

includeConfig 'conf/tower.config'
includeConfig 'conf/modules.config'
