/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for the pipeline
-----------------------------------------------
*/

plugins {
    id 'nf-dotenv'
}

params {
    metadata   = ""
    outdir     = ""
    total_cpus = Runtime.runtime.availableProcessors()
}

includeConfig 'conf/params.config'

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
    overwrite = true
}

profiles {
    stardard {
        includeConfig 'conf/tower.config'
        includeConfig 'conf/modules.config'
        conda {
            enabled  = true
            cacheDir = "$params.ANACONDA3"
            channels = ['conda-forge', 'bioconda', 'defaults']
        }
        process.cache         = "lenient"
        process.errorStrategy = "finish"
    }
    stub {
        process {
            cpus = 1
            memory = "1 GB"
        }
        conda {
            enabled = false
        }
        tower {
            enabled = false
        }
    }
}
