/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for the pipeline
-----------------------------------------------
*/

plugins {
    id 'nf-dotenv'
    id 'nf-schema@2.1.0'
}

validation.failUnrecognisedParams = true
validation.help.enabled           = true
validation.help.command           = "nextflow run PipescRNA-seq/main.nf --outdir <OUTDIR> --metadata samplesheet.csv --sample_count 2"

params {
    metadata     = ""
    outdir       = ""
    total_cpus   = Runtime.runtime.availableProcessors()
    sample_count = 1
    showHidden   = false
}

includeConfig 'conf/params.config'

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
    overwrite = true
}

profiles {
    standard {
        includeConfig 'conf/tower.config'
        includeConfig 'conf/modules.config'
        conda {
            enabled  = true
            cacheDir = "$params.ANACONDA3"
            channels = ['conda-forge', 'bioconda', 'defaults']
        }
        process.cache         = "lenient"
        process.errorStrategy = "finish"
        docker {
            enabled           = true
            docker.runOptions = '-u $(id -u):$(id -g)'
        }
    }
    stub {
        process {
            cpus = 1
            memory = "1 GB"
        }
        conda {
            enabled = false
        }
        tower {
            enabled = false
        }
        docker {
            enabled = false
        }
    }
}

docker.registry = 'quay.io'
