/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: STAR {
        cpus     = 18
        memory   = 25.GB
        ext.args = "--readFilesCommand zcat --soloType CB_UMI_Simple --soloFeatures Gene --soloUMIlen 10 --twopassMode Basic --outSAMtype None --runDirPerm All_RWX --soloBarcodeReadLength 150 --soloCellFilter EmptyDrops_CR"
    }
}
