/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: PIGZ {
        cpus   = params.total_cpus - 6
    }
    withName: STARSOLO {
        cpus   = params.total_cpus - 6
        memory = 32.GB
    }
    withName: FASTQC {
        cpus = 2
    }
    withName: SINGLE_SEURAT {
        memory = 20.GB
        cpus   = 2
    }
    withName: INTEGRATION {
        memory = 15.GB
    }
    withName: ANNOTATION_PLOTS {
        memory = 5.GB
    }
}
